@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f0b429; /* yellow */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background: #f7f9fb;
  padding: 30px 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 1500px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

/* Align labels left and inputs right */
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  flex: 0 0 180px; /* label width */
  font-weight: 500;
  color: #333;
}


.form-group input,
.form-group select,
.form-group textarea {
  flex: content;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

textarea {
  resize: none;
}

.gender, .hobbies {
  display: flex;
  gap: 15px;
}

table {
  width: 60%;             
  margin: 10px auto;     
  border-collapse: collapse;
  font-size: 14px;         
}


th, td {
 border: 1px solid #ccc;
  text-align: center;
  padding: 5px;          
  font-size: 13px; 
}

th {
  background: #f0b429;
  color: #fff;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

button {
  background: #f0b429;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #d99f26;
}
